html {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #1e1e1e;
    -webkit-transform-style: preserve-3d;
-webkit-transform:translate3d(0,0,0);
}

#time {
    font-size: 2em;
    margin-bottom:0px;
    color: white;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    padding:10px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    display:block;

}

.container{
    text-align:center;
}

#pegboard {
    width:100%;
}

#border {
    /*border: 1px solid black;*/
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin-top: 5px;

    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    border: 2px solid black;

    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);

    -webkit-transform-style: preserve-3d;
-webkit-transform:translate3d(0,0,0);


}

.peghole {
    padding: 5%;
    width: 60px;
    height: 60px;
     -webkit-font-smoothing: antialiased
}

#target {
    padding: 15px;
    width: 140px;
    height:140px;
    margin-top:5px;
    margin-bottom:5px;
   
}

#touchableArea {
    display: inline-block;
    touch-action: none;
}

#done {
    margin-left: 15px;
    background-color: #f0f0f0;

    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);

}

#done:focus {
    outline: 0;

}

#nav {
    margin: 0;
}