body {
    font-family: 'Quicksand', sans-serif;
}

#time {
    font-size: 2em;
    margin: 0;
}

.container{
    text-align:center;
}

#pegboard {
    width:100%;
}

#border {
    border: 1px solid black;
    display: inline-block;
}

.peghole {
    padding: 5%;
    width: 60px;
    height: 60px;
}

#target {
    padding: 15px;
    width: 140px;
    height:140px;
}

#touchableArea {
    display: inline-block;
    touch-action: none;
}

#done {
    margin-left: 15px;
}