body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.thumbnail img {
    width: 100%;

}

.thumbnail {
    padding: 0;
    border: 1px solid black;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#cap1, #cap2 {
    display: inline-block;

}

#cap1:hover, #cap2:hover {
    display: inline-block;
}